name: Build Test and Depoly Application

on:
  workflow_dispatch:
    inputs:
      log_errors:
        description: 'Log errors if tests fail'
        required: true
        default: 'true'

permissions:
  id-token: write
  contents: read
  packages: write
  deployments: write
  
env:
      DOCKER_IMAGE_NAME: linayonan/linadockerrepo
      
jobs:
  fetch_and_extract_temperature: 
    name: Fetch Weather Data and Extract Temperature
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Fetch data from SMHI API
      env:
          SMHI_API_KEY: ${{ secrets.SMHI_API_KEY }}
      run: |
          API_URL="https://opendata-download-metfcst.smhi.se/api/category/pmp3g/version/2/geotype/point/lon/18.0686/lat/59.3293/data.json"
          curl -s "$API_URL" -o weather_data.json 
          echo "Fetched data from SMHI API."

    - name: Display fetched data
      run: cat weather_data.json  

    - name: Extract temperature from weather data
      run: |
        TEMP=$(jq '.timeSeries[0].parameters[] | select(.name == "t") .values[0]' weather_data.json)
        if [ -n "$TEMP" ]; then
          echo "Extracted Temperature: $TEMP"
          echo "TEMP=$TEMP" >> $GITHUB_ENV
        else
          echo "Error: Temperature not found" >&2
          exit 1
        fi

    - name: Run tests with pytest
      run: |
        pytest > test-output.log || echo "Test failed. Check logs." > test-output.log

    - name: Upload error logs
      if: ${{ github.event.inputs.log_errors == 'true' && failure() }}
      uses: actions/upload-artifact@v3
      with:
        name: error-logs
        path: test-output.log
  
  build_docker_image:
      name: Build and Push Docker Image to ACR
      runs-on: ubuntu-latest
      needs: fetch_and_extract_temperature

      steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
         login-server: ${{ secrets.ACR_LOGIN_SERVER }}
         username: ${{ secrets.ACR_USERNAME }}
         password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/linadockerrepo:latest .

      - name: Push Docker Image to ACR
        run: docker push ${{ secrets.ACR_LOGIN_SERVER }}/linadockerrepo:latest


  deploy_to_azure_webapp:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: build_docker_image

    steps:
    - name: Log in to Azure
      uses: azure/login@v1
      with:
        client-id: lina.yonan2@stud.sti.se
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Configure Azure Web App for Docker Image
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_APP_NAME }}
        images: ${{ secrets.ACR_LOGIN_SERVER }}/linadockerrepo:latest
